// Posts
// =========================================================

.posts {
    list-style: none;
    padding-left: 0;
}

.post {
    h1, h3 {
        margin-bottom: 0;
    }
}

li.post {
    max-width: 640px;
    .type.margin(@type-line-height-base, @type-line-height-base);

    a {
        display: block;
        padding: 5px 10px;
        border-left: 4px solid #eee;
        text-decoration: none;
        color: @type-color-primary;
        .transition(all .25s);

        &:hover {
            border-left-color: #7db578;
        }
    }
}

.meta {
    margin-top: 0;
    .type.margin-bottom(5px);
    .type.font-size(@type-size-base - 2);
    color: @type-color-secondary;
}