<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	<link rel="canonical" href="{{ .Permalink }}" />

	{{ $author := partial "content/data/author" . -}}
	{{- if and (not .IsHome) $author.url }}<link rel="author" href="{{ $author.url }}" />{{ end }}

	{{/* Site meta data */}}
	{{ partial "site/meta/robots" . }}
	{{ partial "site/meta/staging-redirect" . }}
	{{ partial "site/meta/alternate-links" . }}
	{{ partial "site/meta/icons" . }}
	{{ partial "site/meta/open-graph" . }}
	{{ partial "site/meta/twitter" . }}
	{{ partial "site/meta/webmention" . }}
	{{ partial "site/meta/pingback" . }}

	{{/* Site styles */}}
	{{ partial "site/style/main" . }}

	{{/* Site JavaScript */}}
	{{ partial "site/script/fathom" . }}
	{{ partial "site/script/main" . }}

</head>
<body class="page">
	{{- partial "furniture/header" . -}}
	<main role="main" class="main {{ if .IsHome }}main--wide{{ end }}">
		{{ if .IsHome }}
			{{- block "hero" . }}{{- end }}
		{{ end }}
		<div class="main__inner">
			{{- partial "furniture/in-page-nav" . -}}
			{{- block "main" . }}{{- end }}
		</div>
	</main>
	{{- partial "furniture/footer" . -}}
</body>
</html>
