
{{- /* Gather together all the content information */ -}}
{{- /* ------------------------------------------- */ -}}

{{- $mainImage := partial "content/data/main-image" . -}}


{{- /* Render the content preview */ -}}
{{- /* -------------------------- */ -}}

<article class="h-entry content-summary content-highlight content-highlight--{{ .Params.highlight }}" data-test="content-summary">
	{{- partial "content/structured-data" . -}}

	<header>
		{{- partial "content/summary/headline" . -}}
	</header>

	<div class="content-summary__body">

		{{ if $mainImage.full }}
			<a href="{{ .RelPermalink }}" class="content-summary__thumb">
				<img
					srcset="
						{{ $mainImage.thumb64.RelPermalink }},
						{{ $mainImage.thumb128.RelPermalink }} 1.5x,
						{{ $mainImage.thumb256.RelPermalink }} 2x
					"
					src="{{ $mainImage.thumb64.RelPermalink }}"
					alt="{{ $mainImage.full.Title }}"
					width="{{ $mainImage.thumb128.Width }}"
					height="{{ $mainImage.thumb128.Height }}"
					loading="lazy"
				/>
			</a>
		{{ end }}

		<p class="content-summary__preview">
			<span class="p-summary">{{ .Description }}</span>
			<a href="{{ .RelPermalink }}">{{ if (.Params.cta) }}{{ .Params.cta }}{{ else }}Read {{.Title}}{{ end }}</a>.
		</p>

	</div>

	<footer>
		{{ partial "content/summary/meta" . }}
	</footer>

</article>
