
{{ define "main" }}

	{{/* Main page content head */}}
	<header class="content-head">
		<h1 class="content-head__title" data-test="content-title">
			{{ if eq .Title .Data.Term }}
				Content With {{ .Data.Singular | title }} &ldquo;{{ .Title }}&rdquo;
			{{ else }}
				{{ .Title }}
			{{ end }}
		</h1>
	</header>

	{{/* Main page content body */}}
	<div class="content-body" data-test="content-body">
		<p>
			Listing {{ len .Pages }} pieces of content with the &ldquo;{{ .Title }}&rdquo; {{ .Data.Singular | title }}.
		</p>
		{{ with .Content }}{{ . }}{{ end }}
	</div>

	{{/* List of content */}}
	<ol class="h-feed content-list">
		{{ range (partial "furniture/data/pagination" .).pages }}
			<li>{{ .Render "summary" }}</li>
		{{ end }}
	</ol>
	{{ partial "furniture/pagination" . }}

{{ end }}
