
// Hover highlights
.hover-hi:hover {
    background-color: $c-green-lt;
}
.hover-hi-dribbble:hover {
    background-color: $c-dribbble-lt;
}
.hover-hi-feed:hover {
    background-color: $c-feed-lt;
}
.hover-hi-github:hover {
    background-color: $c-github-lt;
}
.hover-hi-google:hover {
    background-color: $c-green-lt; // TODO add Google colour
}
.hover-hi-linkedin:hover {
    background-color: $c-linkedin-lt;
}
.hover-hi-twitter:hover {
    background-color: $c-twitter-lt;
}
