
// Image split
.img-split {
    padding-left: 40%;
    position: relative;
    overflow: hidden;

    .image {
        width: 33%;
        min-height: 400px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: $c-cream-dk;
        border-right: 10px solid $c-green-lt;

        img {
            margin-left: -30%;
            margin-top: -30%;
        }
    }

    @media all and (max-width: $frag-break-tablet) {
        padding-left: $spacing;
        padding-top: 150px;

        .image {
            width: 100%;
            height: 120px;
            min-height: 0;
            border-right: none;
            border-bottom: 10px solid $c-green-lt;

            img {
                margin-left: 0;
                margin-top: -25%;
                width: 100%;
            }
        }
    }

    @media all and (max-width: $frag-break-mobile) {
        padding-top: 100px;

        .image {
            height: 80px;
        }
    }
}
