---
---

// Variables

$font-size: 16px;
$font-size-small: 14px;

$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-family-heading: $font-family;
$font-family-mono: Courier, "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$color-cream: #f7f5f0;
$color-cream-dark: #eae3d1;
$color-gray-dark: #333;
$color-green: #7db578;
$color-green-dark: #3f6f3b;
$color-green-light: #cae8a7;
$color-orange: #fce9cd;
$color-orange-dark: #f39e24;
$color-purple: #7f629c;
$color-yellow: #ffb;

$color-subjects: (
    accessibility: (
        background: #2190c4,
        background-light: lighten(#2190c4, 45%),
        text: $color-gray-dark
    ),
    css: (
        background: #6c4b9e,
        background-light: lighten(#6c4b9e, 45%),
        text: $color-gray-dark
    ),
    design: (
        background: #f39e24,
        background-light: lighten(#f39e24, 35%),
        text: $color-gray-dark
    ),
    javascript: (
        background: #ffd600,
        background-light: lighten(#ffd600, 35%),
        text: $color-gray-dark
    ),
    node-js: (
        background: #8bc84b,
        background-light: lighten(#8bc84b, 30%),
        text: $color-gray-dark
    ),
    open-source: (
        background: #ff90fb,
        background-light: lighten(#ff90fb, 17%),
        text: $color-gray-dark
    ),
    thinking: (
        background: #5edad6,
        background-light: lighten(#5edad6, 30%),
        text: $color-gray-dark
    )
);

$spacing: 25px;
$spacing-small: 10px;
$spacing-large: 50px;
$spacing-rule: 5px;


// Vendor styles

@import "vendor/normalize";


// Core styles

@import "core/typography";
@import "core/code";


// BEM objects

@import "object/blog-post";
@import "object/blog-post-listing";
@import "object/clean-list";
@import "object/clearfix";
@import "object/footer";
@import "object/header";
@import "object/hidden";
@import "object/inline-list";
@import "object/media";
@import "object/page";
@import "object/quote";
@import "object/space";
@import "object/subject-border";
@import "object/subject-tag";
@import "object/table";
