// region/header

// General nav styles
.logo, .site-nav, .social-nav {
    float: left;
    margin-right: $gutter * 2;
    margin-bottom: 0;
}
.social-nav {
    margin-right: 0;
}

// Site logo
.logo .blocklink {
    @include rem("line-height", $t-lineheight);
    border-left: 5px solid $c-green-dk;

    &:hover {
        background-color: transparent;
        background-image: none !important; // Ew... Sorry
    }

    .title, .tagline {
        display: block;
    }
}

// Blocklink overrides
.header .blocklink .label {
    display: none;
}

// Break-point alpha
@media (min-width: $frag-break-bravo) {

    // Blocklink overrides
    .header .blocklink .label {
        display: inline;
    }

}

// Break-point charlie
@media (min-width: $frag-break-charlie) {

    // General nav styles
    .logo, .site-nav, .social-nav {
        float: none;
        margin-right: 0;
        @include rem("margin-bottom", $t-lineheight);
    }

}