// region/header

// General nav styles
.logo, .nav {
    @extend .clearfix;
    @include rem("margin-bottom", $t-lineheight / 2);

    > li {
        float: left;
    }
}
.social-nav {
    margin-right: 0;
}

// Site logo
.logo .blocklink {
    @include rem("line-height", $t-lineheight);
    border-left: 5px solid $c-green-dk;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        background-color: transparent;
        background-image: none !important; // Ew... Sorry
    }

    .title, .tagline {
        display: block;
    }
}

// Blocklink overrides
.header .blocklink .label {
    display: none;
    *display: inline;
}

// Break-point alpha
@media (min-width: $frag-break-bravo) {

    // General nav styles
    .logo, .nav {
        float: left;
        margin-right: $gutter * 3;
        margin-bottom: 0;

        > li {
            float: none;
        }
    }

    // Blocklink overrides
    .header .blocklink .label {
        display: inline;
    }

}

// Break-point charlie
@media (min-width: $frag-break-charlie) {

    // General nav styles
    .logo, .nav {
        float: none;
        margin-right: 0;
        @include rem("margin-bottom", $t-lineheight);

        > li {
            float: none;
        }
    }

}