// region/page

// Core container styles
html {
    @extend %noisy;
    min-height: 100%;
    background-color: $c-cream-dk;
}
%before-bar {
    content: "";
    height: 10px;
    display: block;
}
body:before {
    @extend %before-bar;
    @extend %noisy;
    background-color: $c-green-dk;
}
.wrapper:before {
    @extend %before-bar;
    @extend %noisy;
    background-color: $c-green;
}
.page {
    @extend %noisy;
    background-color: $c-cream;
}