
// Colors
$c-green: #7db578;
$c-green-lt: #cae8a7;
$c-green-dk: #4c8847;
$c-cream: #f7f5f0;
$c-cream-dk: #eae3d1;

// Colours for other sites
$c-dribbble: #ea4c89;
$c-dribbble-lt: #f2d1de;
$c-feed: #f28d35;
$c-feed-lt: #f4dcc8;
$c-github: #444;
$c-github-lt: #ddd;
$c-google: #da4936;
$c-google-lt: #f0d6d3;
$c-linkedin: #71c5ef;
$c-linkedin-lt: #cfe9f6;
$c-twitter: #52ade5;
$c-twitter-lt: #cbe4f4;

// Grid config
$frag-max-width: 1800px;
$frag-gutter-width: 20px;

// Type config
$pigeon-type-face: Verdana, Geneva, Tahoma, sans-serif;
$pigeon-type-color-link: $c-green-dk;

// Spacing
$spacing: $frag-gutter-width;
$spacing-small: $spacing / 2;

// Vendor styles
@import "../../vendor/frag/lib/frag";
@import "../../vendor/pigeon/lib/pigeon";

// Root/page styles
@import "core/root";
@import "core/page";
@import "core/code";

// Objects
@import "object/align";
@import "object/block-link";
@import "object/box";
@import "object/browser-upgrade";
@import "object/heading-bar";
@import "object/hover-hi";
@import "object/icon";
@import "object/pad";
@import "object/post";
@import "object/prose";
@import "object/there-is-more";
@import "object/tile";

// Regions
@import "region/banner";
