
{{- partial "get-content-images" . -}}
{{- $image := .Scratch.Get "image" -}}
{{- $thumb := .Scratch.Get "thumb" -}}

{{- partial "get-content-webmentions" . -}}
{{- $webmentions := .Scratch.Get "webmentions" -}}

{{ $related := .Site.RegularPages.Related . | first 3 }}

{{/*
All content in here must be marked up with microdata, but also microformats as an h-entry.
The microdata is better suited for search engines, and the microformats are required
to enable webmentions
*/}}
<article vocab="http://schema.org/" typeof="BlogPosting" resource="{{ .Permalink }}" class="h-entry">

	<meta property="name" content="{{ .Title }}" />
	<meta property="url" content="{{ .Permalink }}" />
	<meta property="mainEntityOfPage" content="{{ .Permalink }}" />

	{{ if $image }}
		<meta property="image" content="{{ $image.Permalink }}"/>
		<meta property="thumbnailUrl" content="{{ $thumb.Permalink }}"/>
	{{ end }}

	<header class="content-head">

		<h1 property="headline" class="content-head__title">
			<a href="{{ .Permalink }}" class="u-url u-uid p-name">{{ .Title }}</a>
		</h1>

		<div class="content-head__meta content-highlight content-highlight--{{ .Params.highlight }}">
			<p property="description" class="hidden-fully p-summary">{{ .Description }}</p>
			<p class="content-head__meta-info">
				Posted on <time datetime="{{ .Date }}" property="datePublished" class="dt-published">{{ .Date.Format "02 January 2006" }}</time>
				by 
				<span property="author" vocab="http://schema.org/" typeof="Person" class="p-author h-card">
					<a href="{{ .Site.Author.website }}" property="url" class="u-url">
						<img property="image" src="{{ .Site.Author.image }}" alt="" class="hidden-fully u-photo" width="20" />
						<span property="name" class="p-name">{{ .Site.Author.name }}</span></a></span>

				{{- if gt .Lastmod .Date }}
					(<time datetime="{{ .Params.lastmod }}" title="{{ .Params.lastmod.Format "02 January 2006" }}"  property="dateModified" class="dt-updated">updated</time>)
				{{- end -}}

				{{- if .Params.tags -}}
					.<br/>Tagged with
					<span property="keywords">
						{{- range $key, $tag := .Params.tags -}}
							{{- if ne $key 0 }}<span class="hidden">, </span>{{ end -}}
							<a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}/" class="tag tag--{{ replace ($tag | urlize) "." "-" }} p-category">{{ $tag }}</a>
						{{- end -}}
					</span>
				{{- end }}
			</p>
			{{ if (and .Site.Author .Site.Author.webmention) }}
				<p class="content-head__socials">
					<a href="#responses" class="content-head__social-icon content-head__social-icon--responses">{{ len $webmentions }} responses</a>
				</p>
			{{ end }}
		</div>

		{{ if (and .Params.crossPost .Params.crossPost.siteName) }}
			<p class="content-head__source notification notification--source">
				<span class="notification__message">
					Originally posted on <a href="{{ .Params.crossPost.siteUrl }}">{{ .Params.crossPost.siteName }}</a>,
					<a href="{{ .Params.crossPost.url }}">Read the original post here</a>
				</span>
			</p>
		{{ end }}

	</header>

	{{ if .Content }}
		<div property="articleBody" class="content-body e-content">
			{{ if .Draft }}{{ partial "draft-notice.html" . }}{{ end }}
			{{ .Content }}
			{{ if .Draft }}{{ partial "draft-notice.html" . }}{{ end }}
		</div>
	{{ end }}

	<footer class="content-foot">
		<p class="content-foot__thanks">
			Thanks for reading!
			{{ if .Params.reviewers }}
				Also huge thanks to
				{{ $reviewers := .Params.reviewers -}}
				{{- $hasTwoReviewers := eq (len $reviewers) 2 -}}
				{{ range $key, $reviewer := $reviewers -}}
					{{- $isFirst := eq $key 0 -}}
					{{- $isLast := eq $key (sub (len $reviewers) 1) -}}
					{{- if and $isLast (not $isFirst) }} and {{ end -}}
					{{ if $reviewer.website }}<a href="{{ $reviewer.website }}">{{ end }}
						{{- $reviewer.name -}}
					{{ if $reviewer.website }}</a>{{ end }}{{ if and (not $isLast) (not $hasTwoReviewers) }}, {{ end }}
				{{- end }}
				for reviewing this post.
			{{ end }}

		</p>

		<ul class="content-foot__links">
			{{ $pageType := singularize .Type }}
			{{ if .Parent }}
				{{ $parent := .Parent }}
				{{ with $parent.OutputFormats.Get "ATOM" }}
					<li>
						<a href="{{ .RelPermalink }}" rel="alternate" type="application/atom+xml" title="Atom Feed for {{ $parent.Params.Title }}" class="content-foot__icon content-foot__icon--feed" data-component="feed-link">Subscribe here</a>
						if you enjoyed this {{ $pageType }} and would like to read more
					</li>
				{{ end }}
				{{ with $parent.OutputFormats.Get "RSS" }}
					<li>
						<a href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="RSS Feed for {{ $parent.Params.Title }}" class="content-foot__icon content-foot__icon--feed" data-component="feed-link">Subscribe here</a>
						if you enjoyed this {{ $pageType }} and would like to read more
					<li>
				{{ end }}
			{{ end }}
			{{ if (and .Site.Author .Site.Author.twitter) }}
				<li>
					<a href="https://twitter.com/share?url={{ safeURL .Permalink }}&amp;via={{ safeURL .Site.Author.twitter }}&amp;text={{ safeURL .Title }}" target="_blank" class="content-foot__icon content-foot__icon--twitter">Tweet about this {{ $pageType }}</a>
				</li>
			{{ end }}
			{{ if (and .Site.Author .Site.Author.webmention) }}
				<li>
					<a href="#responses" class="content-foot__icon content-foot__icon--responses">{{ len $webmentions }} responses</a>
				</li>
			{{ end }}
			{{ if len $related }}
				<li>
					<a href="#related" class="content-foot__icon content-foot__icon--related">View related content</a>
				</li>
			{{ end }}
		</ul>
	</footer>

	{{/* Webmentions */}}
	{{ if (and .Site.Author .Site.Author.webmention) }}
		<aside id="responses">
			<div class="content-body">
				<h2>Responses ({{ len $webmentions }})</h2>
			</div>
			<form method="post" action="https://webmention.io/{{ .Site.Author.webmention }}/webmention" target="_blank" class="webmention-form" data-component="webmention-form">
				<input type="hidden" name="target" value="{{ .Permalink }}" />
				<p>
					You can respond to this {{ $pageType }} using <a href="https://indieweb.org/Webmention">Webmentions</a>,
					and any tweets about it will be picked up automatically.
					If you published a response to this elsewhere, <label for="webmention-source">let me know the URL</label>:
				</p>
				<div class="webmention-form__inputs">
					<input id="webmention-source" type="url" name="source" required class="webmention-form__url" />
					<input type="submit" value="Ping!" class="webmention-form__submit" />
				</div>
			</form>
			{{ if len $webmentions }}
				<ol id="responses" class="social-feed">
					{{ range $webmentions }}
						{{ if eq .type "response" }}
							<li id="webmention-{{ .md5 }}" property="comment" vocab="http://schema.org/" typeof="Comment" class="social-feed__item social-feed__item--response">
								<div class="social-feed__meta">
									<span property="author" vocab="http://schema.org/" typeof="Person">
										<a property="url" href="{{ .author.url }}" class="social-feed__author"><span property="name">{{ .author.name }}</span></a>
									</span>
									<a property="url" href="{{ .url }}">responded <time property="datePublished" datetime="{{ .date }}" class="social-feed__date">{{ dateFormat "02 January 2006" .date }}</time></a>:
								</div>
								<div property="text" class="social-feed__content content-body">
									{{ .content | safeHTML }}
									{{ if .isTruncated }}
										<a href="{{ .url }}">Read the full response</a>
									{{ end }}
								</div>
							</li>
						{{ else }}
							<li id="webmention-{{ .md5 }}" class="social-feed__item social-feed__item--{{ .type }}">
								<div class="social-feed__meta">
									<a href="{{ .author.url }}" class="social-feed__author">{{ .author.name }}</a>
									{{ if eq .type "repost" }}
										<a href="{{ .url }}">reposted this
									{{ else }}
										<a href="{{ .url }}">liked this
									{{ end }}
									<time datetime="{{ .date }}" class="social-feed__date">{{ dateFormat "02 January 2006" .date }}</time></a>
								</div>
							</li>
						{{ end }}
					{{ end }}
				</ol>
			{{ end }}
		</aside>
	{{ end }}

	{{ with $related }}
		<aside id="related">
			<div class="content-body">
				<h2>You may also like</h2>
			</div>
			<ol class="content-list">
				{{ range $related }}
					<li>{{- partial "content-summary.html" . -}}</li>
				{{ end }}
			</ol>
		</aside>
	{{ end }}

</article>