
{{- partial "get-content-images" . -}}
{{- $image := .Scratch.Get "image" -}}
{{- $thumb := .Scratch.Get "thumb" -}}

<article
	vocab="http://schema.org/"
	typeof="BlogPosting"
	resource="{{ .Permalink }}"
	class="content-summary content-highlight content-highlight--{{ .Params.highlight }}"
>

	<meta property="name" content="{{ .Title }}"/>
	<meta property="url" content="{{ .Permalink }}"/>
	<meta property="mainEntityOfPage" content="{{ .Permalink }}"/>

	{{ if $image -}}
		<meta property="image" content="{{ $image.Permalink }}"/>
		<meta property="thumbnailUrl" content="{{ $thumb.Permalink }}"/>
	{{- end }}

	<header>
		<h2 property="headline" class="content-summary__headline">
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
		</h2>
	</header>

	<footer>
		<p class="content-summary__meta">
			Posted on <time datetime="{{ .Date }}" property="datePublished">{{ .Date.Format "02 January 2006" }}</time>
			{{ if .Params.tags }}
				in

				{{ $tags := .Params.tags -}}
				{{- $tagCount := len $tags -}}

				<span property="keywords">
					{{- range $key, $tag := $tags -}}
						{{- if ne $key 0 }}<span class="hidden">, </span>{{ end -}}
						<a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}/" class="tag tag--{{ replace ($tag | urlize) "." "-" }} {{ if (and (gt $key 2) (gt $tagCount 4)) }}hidden-fully{{ end }}">{{ $tag }}</a>
					{{- end -}}
				</span>

				{{- if gt $tagCount 4 -}}
					<a href="{{ .RelPermalink }}" class="tag" title="{{ delimit (after 3 $tags) ", " }}">... {{ sub $tagCount 3 }} more</a>
				{{- end -}}
			{{- end -}}

			{{- if (and .Params.crossPost .Params.crossPost.siteName) -}}
				. <span class="content-summary__cross-post">Originally posted on <a href="{{ .Params.crossPost.siteUrl }}">{{ .Params.crossPost.siteName }}</a></span>
			{{ end }}
		</p>
	</footer>

	<div class="content-summary__body">

		{{ if $image }}
			<a href="{{ .RelPermalink }}" class="content-summary__thumb">
				<img src="{{ $thumb.RelPermalink }}" alt="{{ $image.Title }}" />
			</a>
		{{ end }}

		<p class="content-summary__preview">
			<span property="description">{{ .Params.description }}</span>
			<a href="{{ .RelPermalink }}">{{ if (.Params.cta) }}{{ .Params.cta }}{{ else }}Read more{{ end }}</a>.
		</p>

	</div>

</article>
