
{{- $slug := .RelPermalink | replaceRE "^/|/$" "" | replaceRE "/" "--" -}}
{{- if $.Site.Data.webmentions.processed -}}
	{{- $webmentions := index $.Site.Data.webmentions.processed $slug | default slice -}}

	{{- .Scratch.Set "webmentions" $webmentions -}}
	{{- .Scratch.Set "likes" (where $webmentions "type" "like") -}}
	{{- .Scratch.Set "reposts" (where $webmentions "type" "repost") -}}
	{{- .Scratch.Set "responses" (where $webmentions "type" "response") -}}

{{- else -}}

	{{- .Scratch.Set "webmentions" slice -}}
	{{- .Scratch.Set "likes" slice -}}
	{{- .Scratch.Set "reposts" slice -}}
	{{- .Scratch.Set "responses" slice -}}

{{- end -}}
