
// Variables: type
$t-height: 18px;
$t-lineheight: 26px;

// Variables: colour
$c-cream: #fffaf5;
$c-cream-dk: #eadbcd;
$c-green: #cae8a7;
$c-green-dk: #7db578;
$c-grey: #747474;
$c-grey-dk: #333;

// Variables: third-party colour
$c-dribbble: #ea4c89;
$c-dribbble-lt: #f2d1de;
$c-feed: #f28d35;
$c-feed-lt: #f4dcc8;
$c-github: #444;
$c-github-lt: #ddd;
$c-twitter: #52ade5;
$c-twitter-lt: #cbe4f4;

// Variables: layout
$gutter: 20px;
$frag-gutter-width: $gutter * 2;

// Vendor styles
@import "vendor/bitmanic/rem";
@import "vendor/pygments/zenburn";
@import "vendor/necolas/normalize";
@import "vendor/rowanmanning/frag/grid/default/grid";

// Utilities
@import "util/compat";

// Objects
@import "object/blocklink";
@import "object/clear";
@import "object/list";
@import "object/move";
@import "object/noisy";
@import "object/swatch";

// Site styles
@import "core/fonts";
@import "core/layout";
@import "core/media";
@import "core/type";
@import "region/footer";
@import "region/page";
