article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{display:table;content:'';}
.clearfix:after{clear:both;}
.clear{height:0;line-height:0;margin:0;padding:0;display:block;clear:both;overflow:hidden;font-size:1px;}
html{font-size:62.5%;}
body{font-family:Verdana,Geneva,Tahoma,sans-serif;font-size:18px;font-size:1.8rem;line-height:26px;line-height:2.6rem;color:#444444;}
p,h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1,blockquote,dl,ol,ul,hr,pre,table{margin-top:26px;margin-top:2.6rem;margin-bottom:26px;margin-bottom:2.6rem;}
h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1,dt,th{font-family:'Averia Serif Libre',Baskerville,Times,'Times New Roman',serif;color:#222222;}
h6,.h6,h5,.h5,h4,.h4{font-weight:normal;}
h6,.h6,dt,th{font-size:20px;font-size:2rem;}
h5,.h5{font-size:22px;font-size:2.2rem;}
h4,.h4{font-size:24px;font-size:2.4rem;}
h3,.h3,h2,.h2,h1,.h1{line-height:38px;line-height:3.8rem;}
h3,.h3{font-size:26px;font-size:2.6rem;}
h2,.h2{font-size:32px;font-size:3.2rem;margin-top:52px;margin-top:5.2rem;margin-bottom:26px;margin-bottom:2.6rem;}
h1,.h1{font-size:38px;font-size:3.8rem;}
small,sub,sup{font-size:14px;font-size:1.4rem;}
a{color:#4b8256;}a:active{color:#8675bf;}
a:visited{color:#7347ad;}
ol,ul{padding-left:36px;}
ol p,ul p,dl p,ol h6,ul h6,dl h6,ol .h6,ul .h6,dl .h6,ol h5,ul h5,dl h5,ol .h5,ul .h5,dl .h5,ol h4,ul h4,dl h4,ol .h4,ul .h4,dl .h4,ol h3,ul h3,dl h3,ol .h3,ul .h3,dl .h3,ol h2,ul h2,dl h2,ol .h2,ul .h2,dl .h2,ol h1,ul h1,dl h1,ol .h1,ul .h1,dl .h1,ol blockquote,ul blockquote,dl blockquote,ol dl,ul dl,dl dl,ol ol,ul ol,dl ol,ol ul,ul ul,dl ul,ol hr,ul hr,dl hr,ol pre,ul pre,dl pre,ol table,ul table,dl table{margin-top:0;margin-bottom:0;}
dt{font-weight:bold;}
dd{margin-left:0;margin-bottom:12px;padding-left:18px;}
q{font-style:italic;}q:before{content:"“";}
q:after{content:"”";}
blockquote{margin-left:0;margin-right:0;padding:0 0 0 18px;border-left:5px solid #ccc;}blockquote small{color:#666666;}blockquote small:before{content:"—";}
pre,code{font-family:Consolas,'Lucida Console',Monaco,monospace;}
code{padding:0 4px;background:#f8f8f8;border:1px solid #ccc;}
pre code{padding:8px;display:block;}
table{width:100%;}
thead{border-top:1px solid #ccc;}
tr{border-left:1px solid #ccc;}
th{background:#e8e8e8;text-align:left;}
th,td{padding:4px 8px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}tr:nth-child(2n) th,tr:nth-child(2n) td{background:#f8f8f8;}
mark{background:#ff9;}
::-moz-selection{background:#dbe8cc;color:#444444;}
::selection{background:#dbe8cc;color:#444444;}
.grid{min-width:320px;max-width:1200px;*width:1200px;zoom:1;}.grid:before,.grid:after{display:table;content:'';}
.grid:after{clear:both;}
.col-1{width:8.333333333333334%;*width:40px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-2{width:16.666666666666668%;*width:140px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-3{width:25%;*width:240px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-4{width:33.333333333333336%;*width:340px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-5{width:41.66666666666667%;*width:440px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-6{width:50%;*width:540px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-7{width:58.333333333333336%;*width:640px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-8{width:66.66666666666667%;*width:740px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-9{width:75%;*width:840px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-10{width:83.33333333333334%;*width:940px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-11{width:91.66666666666667%;*width:1040px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
.col-12{width:100%;*width:1140px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}
@media (max-width:800px){.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{width:100%;*width:1140px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;}}html{border-top:2px solid #7db578;}
body{padding:26px 0;background:#fcfcfb url('/style/assets/noise-fcfcfb-s100-i25-o5.png');border-top:8px solid #cae8a7;}
.logo{display:block;padding:5px 10px;border-left:4px solid #7db578;text-decoration:none;margin-top:26px;margin-top:2.6rem;margin-bottom:26px;margin-bottom:2.6rem;font-family:'Averia Serif Libre',Baskerville,Times,'Times New Roman',serif;color:#222222;font-weight:normal;font-size:24px;font-size:2.4rem;}.logo,.logo:visited,.logo:active{color:#444444;}
.logo .title,.logo .tagline{display:block;}
.logo .tagline{font-size:20px;font-size:2rem;color:#666666;}
.nav{list-style:none;padding-left:0;}.nav li{line-height:40px;line-height:4rem;font-size:22px;font-size:2.2rem;font-family:'Averia Serif Libre',Baskerville,Times,'Times New Roman',serif;}.nav li a{display:inline-block;padding:0 10px;border-left:4px solid #eee;text-decoration:none;color:#444444;-webkit-transition:all 0.25s;-moz-transition:all 0.25s;-ms-transition:all 0.25s;transition:all 0.25s;}.nav li a:hover{background-color:#cae8a7;border-left-color:#7db578;}
.social-nav .twitter a:hover{background-color:#c9e2ff;border-left-color:#4099ff;}
.social-nav .github a:hover{background-color:#666;border-left-color:#333;color:#fff;}
.social-nav .dribbble a:hover{background-color:#f0cedb;border-left-color:#ea4c89;}
.posts{list-style:none;padding-left:0;}.posts li{max-width:640px;margin-top:26px;margin-top:2.6rem;margin-bottom:26px;margin-bottom:2.6rem;}.posts li a{display:block;padding:5px 10px;border-left:4px solid #eee;text-decoration:none;color:#444444;-webkit-transition:all 0.25s;-moz-transition:all 0.25s;-ms-transition:all 0.25s;transition:all 0.25s;}.posts li a:hover{background-color:#cae8a7;border-left-color:#7db578;}
.posts li a .meta{margin-bottom:5px;margin-bottom:0.5rem;font-size:14px;font-size:1.4rem;color:#666666;}
