
{{- /* Gather together all the content information */ -}}
{{- /* ------------------------------------------- */ -}}

{{- $mainImage := partial "content/data/main-image" . -}}


{{- /* Render the content preview */ -}}
{{- /* -------------------------- */ -}}

<article class="h-entry content-summary content-highlight content-highlight--{{ .Params.highlight }}" data-test="content-summary">
	{{- partial "content/structured-data" . -}}

	<div class="content-summary__note">

		{{/* TODO style this better */}}
		<div class="content-body p-name e-content">
			<div class="note-body note-body--{{ .Params.noteType }}">
				{{ with .Content }}
					{{ . }}
				{{ else }}
					<p>{{ partial "content/data/title" . }}<p>
				{{ end }}
			</div>
			{{- partial "content/notes/citation" . -}}
		</div>

	</div>

	<footer>
		{{ partial "content/summary/meta" . }}
	</footer>

</article>
