
{{ $siteAuthor := partial "site/data/author" . }}
{{ $contentAuthor := partial "content/data/author" . }}

<header role="banner" class="header" data-test="header">
	<div class="header__inner">

		<a href="{{ .Site.BaseURL }}" class="header__site-name" data-test="header-site-name">
			{{- .Site.Title | default .Site.Home.Title -}}
		</a>

		<nav role="navigation" class="header__navigation">
			<ul>

				<li class="header__navigation-item site-search" data-component="site-search">
					<label class="site-search__label hidden" for="search-input">Search here</label>
					<form method="get" action="https://www.google.com/search" class="site-search__fallback-wrapper">
						<input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
						<input type="text" name="q" id="search-input" class="site-search__input" />
						<button type="submit" class="site-search__submit">Go</button>
					</form>
				</li>

				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
					{{ $isMenuCurrent := $currentPage.IsMenuCurrent "main" . }}
					{{ $hasMenuCurrent := $currentPage.HasMenuCurrent "main" . }}
					{{ $parentIsCurrent := false }}
					{{ if $currentPage.Parent }}{{ $parentIsCurrent = $currentPage.Parent.IsMenuCurrent "main" . }}{{ end }}
					<li class="header__navigation-item {{if or $isMenuCurrent $hasMenuCurrent $parentIsCurrent }}header__navigation-item--selected{{end}}">
						<a href="{{ .URL }}">{{ .Name }}</a>
					</li>
				{{ end }}

				{{ if $siteAuthor.github }}
					<li class="header__navigation-item">
						<a href="https://github.com/{{ $siteAuthor.github }}" {{ if $contentAuthor.isSiteAuthor }}rel="me"{{ end }} title="GitHub" class="header__icon header__icon--github" data-test="header-github">
							GitHub
						</a>
					</li>
				{{ end }}

				{{ if $siteAuthor.mastodon }}
					<li class="header__navigation-item">
						<a href="{{ $siteAuthor.mastodon }}" {{ if $contentAuthor.isSiteAuthor }}rel="me"{{ end }} title="Mastodon" class="header__icon header__icon--mastodon" data-test="header-mastodon">
							Mastodon
						</a>
					</li>
				{{ end }}

				{{ if $siteAuthor.twitter }}
					<li class="header__navigation-item">
						<a href="https://twitter.com/{{ $siteAuthor.twitter }}" {{ if $contentAuthor.isSiteAuthor }}rel="me"{{ end }} title="Twitter" class="header__icon header__icon--twitter" data-test="header-twitter">
							Twitter
						</a>
					</li>
				{{ end }}

			</ul>
		</nav>

	</div>
</header>
