
{{- /* Get the image parameters */ -}}
{{- $src := cond .IsNamedParams (.Get "src") (.Get 0) -}}
{{- $alt := cond .IsNamedParams (.Get "alt") (.Get 1) -}}
{{- $caption := cond .IsNamedParams (.Get "caption") (.Get 2) -}}
{{- $link := cond .IsNamedParams (.Get "link") (.Get 3) -}}

{{- /* Attempt to match the image as a page resource */ -}}
{{- $resource := index (.Page.Resources.Match $src) 0 -}}

{{- /* Get image variables from resource vs params */ -}}
{{- $imagePermalink := $resource.Permalink | default $src -}}
{{- $imageRelPermalink := $imagePermalink | relURL -}}
{{- $imageCaption := $caption | default $resource.Params.caption -}}
{{- $imageAltText := $alt | default $resource.Title | default $imageCaption -}}
{{- $imageLink := $link | default $resource.Params.link | default $imagePermalink -}}

{{- /* Error if the resource is not an image */ -}}
{{- if and ($resource) (ne $resource.ResourceType "image") -}}
	{{- errorf "Resource is not an image: %s" .Position -}}
{{- end -}}

{{- /* Error if there's no alt text */ -}}
{{- if not $imageAltText -}}
	{{- errorf "Missing image alt attribute: %s" .Position -}}
{{- end -}}

<figure class="image">
	<a href="{{ $imageLink | relURL }}">
		<img
			{{ if $resource }}
				srcset="
					{{ cond (gt $resource.Width 720) ($resource.Resize "720x").RelPermalink $imageRelPermalink }},
					{{ cond (gt $resource.Width 1080) ($resource.Resize "1080x").RelPermalink $imageRelPermalink }} 1.5x,
					{{ cond (gt $resource.Width 1440) ($resource.Resize "1440x").RelPermalink $imageRelPermalink }} 2x
				"
			{{ end }}
			src="{{ $imageRelPermalink }}"
			alt="{{ $imageAltText }}"
			width="{{ $resource.Width }}"
			height="{{ $resource.Height }}"
			loading="lazy"
		/>
	</a>
	{{ if $imageCaption }}
		<figcaption class="image__caption">{{ $imageCaption }}</figcaption>
	{{ end }}
</figure>
