
{{- /* Get the section name param */ -}}
{{- $sectionName := cond .IsNamedParams (.Get "section") (.Get 0) -}}

{{- /* Error if we don't have correct params */ -}}
{{- if not $sectionName -}}
	{{- errorf "Section name parameter is required for section-readingtime shortcode: %s" .Position -}}
{{- end -}}

{{- $pages := (where $.Site.RegularPages "Section" $sectionName ) -}}

{{- $counter := 0 -}}
{{- range $pages -}}
	{{- $counter = add $counter .ReadingTime -}}
{{- end -}}

{{- $duration := time.Duration "minute" $counter -}}

<span class="readingtime">~{{ $duration.Hours | lang.FormatNumber 0 }} hours</span>
