
{{- /* Get the song track id param */ -}}
{{- $trackId := cond .IsNamedParams (.Get "id") (.Get 0) -}}

{{- /* Get the song caption param */ -}}
{{- $caption := cond .IsNamedParams (.Get "caption") (.Get 1) | default "Listen on Spotify" -}}

{{- /* Error if we don't have correct params */ -}}
{{- if not $trackId -}}
	{{- errorf "ID parameter is required for song shortcode: %s" .Position -}}
{{- end -}}

<figure class="embed">
	<iframe
		class="embed__spotify-track"
		src="https://open.spotify.com/embed/track/{{ $trackId }}"
		frameborder="0"
		allowtransparency="true"
		allow="encrypted-media"
		title="{{ $caption }}"
	></iframe>
	<figcaption class="embed__caption">{{ $caption }}</figcaption>
</figure>
