
{{- /* Get the video id param */ -}}
{{- $videoId := cond .IsNamedParams (.Get "id") (.Get 0) -}}

{{- /* Get the video caption param */ -}}
{{- $caption := cond .IsNamedParams (.Get "caption") (.Get 1) | default "Watch on YouTube" -}}

{{- /* Error if we don't have correct params */ -}}
{{- if not $videoId -}}
	{{- errorf "ID parameter is required for video shortcode: %s" .Position -}}
{{- end -}}

<figure class="embed">
	<iframe
		class="embed__youtube-video"
		src="https://www.youtube.com/embed/{{ $videoId }}"
		frameborder="0"
		allowtransparency="true"
		allow="fullscreen"
		title="{{ $caption }}"
	></iframe>
	<figcaption class="embed__caption">{{ $caption }}</figcaption>
</figure>
