
// Content head block
.content-head {
	@extend %base-typography;
	margin-bottom: var(--spacing-line);
	display: flex;
	flex-wrap: wrap;
}

// Content head title element
.content-head__title {
	font-size: var(--font-size-title);
	line-height: var(--line-height-title);
	font-family: var(--font-family-heading);
	font-weight: normal;
	margin: 0;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

// Content head links element
.content-head__links {
	line-height: var(--line-height-title);

	> ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	
		> li {
			margin-left: var(--spacingvalue-s);
		}
	}
}

// Content head meta element
.content-head__meta {
	box-sizing: border-box;
	flex: 0 0 100%;
	font-size: var(--font-size-small);
	margin: var(--spacing-half-line) 0 0 0;

	a {
		color: inherit;
	}
}

// Content head meta info element
.content-head__meta-info {
	margin: 0;
}

// Content head socials element
.content-head__socials {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;

	> li:not(:first-child) {
		margin-left: var(--spacingvalue-xs);
	}

	@media (max-width: $layout-width-mobile) {
		display: block;

		> li:not(:first-child) {
			margin-left: 0;
		}
	}
}

// Content head social icon element
.content-head__social-icon {
	background-position: left top;
	background-repeat: no-repeat;
	background-size: var(--line-height-small);
	display: block;
	padding-left: calc(var(--line-height-small) + var(--spacingvalue-xxs));
}

// Content head social icon element, "responses" modifier
.content-head__social-icon--responses {
	background-image: url("#{$site-base-url}icons/response-inverted.svg");
}

// Content head social icon element, "syndication" modifier
.content-head__social-icon--syndication {
	background-image: url("#{$site-base-url}icons/link-inverted.svg");
}

// Content head social icon element, "twitter" modifier
.content-head__social-icon--twitter {
	background-image: url("#{$site-base-url}icons/twitter-inverted.svg");
}

// Content head source element
.content-head__source {
	box-sizing: border-box;
	flex: 0 0 100%;
	margin: var(--spacing-half-line) 0 0 0;
}

// Content head icon element
.content-head__icon {
	@extend %icon;

	&, &:hover {
		width: var(--spacing-line);
	}
}

// Content head icon element, "feed" modifier
.content-head__icon--feed {
	background-image: url("#{$site-base-url}icons/feed.svg");
}
