
// Image block
.image {
	@extend %base-typography;
	--color-image-background: var(--colorvalue-cream);
	
	background-color: var(--color-image-background);
	border: solid var(--spacing-rule) var(--color-image-background);
	border-radius: var(--spacing-rule);
	
	a {
		display: block;
	}
	img {
		display: block;
		max-width: 100%;
		min-width: 100%;
	}
}

// Image caption element
.image__caption {
	padding: var(--spacing-rule);
	padding-bottom: 0;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	font-style: italic;
	text-align: center;
}

// Image dialog element
.image__dialog {
	background: transparent;
	border: none;
	padding: var(--spacing-line);
	position: fixed;

	&::backdrop {
		background: rgba(0, 0, 0, 0.5);
	}

	> .image__dialog-image {
		border: solid var(--spacing-half-line) var(--colorvalue-white);
		max-height: calc(100vh - (var(--spacing-line) * 2));
		max-width: calc(100vw - (var(--spacing-line) * 2));
		box-sizing: border-box;
	}
}

.image__dialog-close {
	@extend %icon;
	display: block;
	border: none;
	appearance: none;
	background-image: url("#{$site-base-url}icons/close.svg");
	width: var(--spacing-onepointfive-line);
	height: var(--spacing-onepointfive-line);
	background-color: transparent;
	padding: 0;
	position: absolute;
	right: var(--spacing-half-line);
	top: var(--spacing-half-line);
}
