
// In-page nav block
.in-page-nav {
	@extend %base-typography;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	color: var(--colorvalue-gray-light);
	display: flex;
}

// In-page nav breadcrumbs element
.in-page-nav__breadcrumbs {
	display: flex;
	flex: 2;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

// In-page nav pagination element
.in-page-nav__pagination {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	margin: var(--spacing-onepointfive-line) auto 0 auto;
	padding: 0;
}

// In-page nav breadcrumb element
.in-page-nav__crumb {
	display: flex;
	padding-right: var(--spacing-rule);

	a {
		padding-right: var(--spacing-rule);
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	&:not(:last-child)::after {
		content: "►";
		font-size: var(--spacing-rule);
	}
}

// In-page nav button element
.in-page-nav__button {
	display: block;
	margin-left: var(--spacing-rule);
	padding: 0 var(--spacingvalue-xxs);
	text-decoration: none;
	color: inherit;
	background-color: var(--colorvalue-cream);
	border-radius: var(--spacingvalue-xxs);
	min-width: 2ch;
	text-align: center;

	&:hover {
		background-color: var(--colorvalue-cream-dark);
	}

	abbr {
		text-decoration: none;
		cursor: unset;
	}
}

// In-page nav button element, "disabled" modifier
.in-page-nav__button--disabled,
.in-page-nav__button--disabled:hover {
	color: var(--colorvalue-white-dark);
	background-color: transparent;
	cursor: not-allowed;
}

// In-page nav button element, "active" modifier
.in-page-nav__button--active,
.in-page-nav__button--active:hover {
	background-color: var(--color-accent-secondary);
}
