
// Media block
.media {
	@extend %base-typography;
	--color-media-background: var(--colorvalue-cream);
	
	background-color: var(--color-media-background);
	border: solid var(--spacing-rule) var(--color-media-background);
	border-radius: var(--spacing-rule);

	// TODO work out what to do about .media--pinned-left
}

// Media block, "pin" modifiers
.media--pin-left,
.media--pin-right {
	margin-bottom: var(--spacing-line);
	max-width: 33%;
}
.media--pin-left {
	float: left;
	margin-right: var(--spacing-line) !important;
}
.media--pin-right {
	float: right;
	margin-left: var(--spacing-line) !important;
}

// Media link element
.media__link {
	display: block;
}

// Media image element
.media__image {
	display: block;
	max-width: 100%;
	min-width: 100%;
}

// Media YouTube element
.media__youtube {
	display: block;
	width: 100%;
	min-height: 400px;

	@media all and (max-width: $layout-width-mobile) {
		min-height: 260px;
	}
}

// Media caption element
.media__caption {
	padding: var(--spacing-half-line);
	padding-bottom: calc(var(--spacing-half-line) - var(--spacing-rule));
	font-size: var(--font-size-small);
	font-style: italic;
	text-align: center;
}
