
// Note body block
.note-body {
	--note-body-background-image: url("#{$site-base-url}icons/response-inverted.svg");
}
.note-body--bookmark > :first-child:not(.citation),
.note-body--like > :first-child:not(.citation),
.note-body--repost > :first-child:not(.citation) {
	background-position: left top;
	background-repeat: no-repeat;
	background-size: var(--spacing-line);
	padding-left: calc(var(--spacing-line) + var(--spacing-rule));
	background-image: var(--note-body-background-image);
}

// Note body block, "bookmark" modifier
.note-body--bookmark {
	--note-body-background-image: url("#{$site-base-url}icons/bookmark-inverted.svg");
}

// Note body block, "like" modifier
.note-body--like {
	--note-body-background-image: url("#{$site-base-url}icons/like-inverted.svg");
}

// Note body block, "repost" modifier
.note-body--repost {
	--note-body-background-image: url("#{$site-base-url}icons/repost-inverted.svg");
}
