
// Tag block
.tag {
	--tag-background-color: var(--colorvalue-cream);
	background-color: var(--tag-background-color);
	border-radius: var(--spacing-rule);
	display: inline-block;
	padding: 0 var(--spacing-rule);
	text-decoration: none;
	margin-bottom: 0.4ch;

	&:not(:last-child) {
		margin-right: 0.8ch;
	}
}

// Tag block link-specific styles
a.tag {
	&:hover {
		text-decoration: underline;
	}
	&, &:visited {
		color: inherit;
	}
}

// Define tag colors, each tag name maps to a highlight colour name.
// TODO see if we can move these to site config or data
$_tag-colors: (
	"accessibility": "blue",
	"css": "purple",
	"dd": "red",
	"design": "orange",
	"javascript": "yellow",
	"node-js": "lime",
	"open-source": "pink",
	"side-projects": "pink",
	"thinking": "cyan",
	"tootsie": "black",
	"work": "cyan",
	"writing": "cyan"
);

// Tag block modifiers
@each $tag, $color in $_tag-colors {
	.tag--#{$tag} {
		--tag-background-color: var(--highlight-#{$color}-light);
	}
}

.tag--christmas {
	background-color: var(--colorvalue-green-light);

	&:hover {
		background: linear-gradient(
			90deg,
			#090 0%,
			#c00 20%,
			#090 40%,
			#c00 60%,
			#090 80%,
			#c00 100%
		);
		color: #ff0 !important;
		animation: christmas-hover 1s linear infinite;
	}
}

@keyframes christmas-hover {
    0% {
		box-shadow: 0 0 50px 20px #ff0;
		opacity: 0.6;
	}
	50% {
		box-shadow: 0 0 50px 0 #ff0;
		opacity: 1;
	}
	100% {
		box-shadow: 0 0 50px 20px #ff0;
		opacity: 0.6;
	}
}