
// Tag block
.tag {
	--tag-background-color: var(--colorvalue-cream);
	background-color: var(--tag-background-color);
	border-radius: 0.5ch;
	display: inline;
	padding: 0.2ch 0.4ch;
	line-height: 1;
	text-decoration: none;
	margin-bottom: 0.4ch;
	white-space: nowrap;

	&:not(:last-child) {
		margin-right: 0.8ch;
	}
}

// Tag block link-specific styles
a.tag {
	&:hover {
		text-decoration: underline;
	}
	&, &:visited {
		color: inherit;
	}
}

// Define tag colors, each tag name maps to a highlight colour name.
// TODO see if we can move these to site config or data
$_tag-colors: (
	"13-7": "pink",
	"accessibility": "blue",
	"blogging": "cyan",
	"board-games": "purple",
	"books": "purple",
	"champagne": "yellow",
	"cladding": "red",
	"css": "purple",
	"dd": "purple",
	"design": "orange",
	"family": "lime",
	"films": "purple",
	"food": "orange",
	"games": "purple",
	"health": "lime",
	"holiday": "lime",
	"house": "cyan",
	"javascript": "yellow",
	"mistakes": "brown",
	"music": "purple",
	"node-js": "lime",
	"open-source": "pink",
	"rss": "orange",
	"side-projects": "pink",
	"social": "lime",
	"sleep": "lime",
	"thinking": "cyan",
	"tootsie": "black",
	"treasure": "yellow",
	"tv": "purple",
	"walking": "lime",
	"whisky": "orange",
	"work": "cyan",
	"writing": "cyan",
);

// Tag block modifiers
@each $tag, $color in $_tag-colors {
	.tag--#{$tag} {
		--tag-background-color: var(--highlight-#{$color}-light);
	}
}

.tag--christmas {
	background-color: var(--colorvalue-green-light);

	&:hover {
		background: linear-gradient(
			90deg,
			#090 0%,
			#c00 20%,
			#090 40%,
			#c00 60%,
			#090 80%,
			#c00 100%
		);
		color: #ff0 !important;
		animation: christmas-hover 1s linear infinite;
	}
}

@keyframes christmas-hover {
    0% {
		box-shadow: 0 0 50px 20px #ff0;
		opacity: 0.6;
	}
	50% {
		box-shadow: 0 0 50px 0 #ff0;
		opacity: 1;
	}
	100% {
		box-shadow: 0 0 50px 20px #ff0;
		opacity: 0.6;
	}
}

.tag--eurovision {
	background-color: var(--colorvalue-yellow);

	&:hover {
		background: linear-gradient(
			90deg,
			rgba(255, 0, 0, 1) 0%,
			rgba(255, 154, 0, 1) 10%,
			rgba(208, 222, 33, 1) 20%,
			rgba(79, 220, 74, 1) 30%,
			rgba(63, 218, 216, 1) 40%,
			rgba(47, 201, 226, 1) 50%,
			rgba(28, 127, 238, 1) 60%,
			rgba(95, 21, 242, 1) 70%,
			rgba(186, 12, 248, 1) 80%,
			rgba(251, 7, 217, 1) 90%,
			rgba(255, 0, 0, 1) 100%
		);
		background-size: 200% 200%;
		color: #fff !important;
		animation: eurovision-hover 1s linear infinite;
	}
}

@keyframes eurovision-hover {
	0% {
		box-shadow: 0 0 50px 20px #ff0;
		opacity: 0.6;
		background-position: 0% 0%;
	}
	50% {
		box-shadow: 0 0 50px 0 #ff0;
		opacity: 1;
		background-position: 100% 0%;
	}
	100% {
		box-shadow: 0 0 50px 20px #ff0;
		opacity: 0.6;
		background-position: 200% 0%;
	}
}
