
// Blog post block
.blog-post {

    // Meta element
    &__meta {
        font-size: $font-size-small;
        padding-left: $spacing - $spacing-rule;
    }

    // Publication status element
    &__publication-status {
        padding: $spacing-small;
        background-color: $color-cream;
        border: $spacing-rule solid $color-cream-dark;
        font-style: italic;

        // Draft modifier
        &--draft {
            background-color: $color-orange;
            border-color: $color-orange-dark;
        }
    }

    // Cross post indicator element
    &__cross-post-indicator {
        padding: $spacing-small;
        background-color: $color-cream;
        font-size: $font-size-small;
    }

    // Content element
    &__content {
        margin-bottom: $spacing * 2;
    }

}
