
// Blog post block
.blog-post {

    // Meta element
    &__meta {
        font-size: $font-size-small;
    }

    // Cross post indicator element
    &__cross-post-indicator {
        padding: $spacing-small;
        background-color: $color-cream;
        font-size: $font-size-small;
    }

}
