
// Block link
.block-link {
    display: block;

    .block-link-inner {
        padding: $spacing-small;
        @include inline-block;
        background-color: $c-cream;
    }

    @media all and (max-width: $frag-break-mobile) {
        .block-link-inner {
            display: block;
            text-align: center;
        }
    }
}
