
// Header block
.header {
    margin-bottom: $spacing * 2;
    border-top: $spacing-rule solid $color-green;
    background: $color-cream;

    &:before {
        content: "";
        display: block;
        border-top: $spacing-rule solid $color-green-light;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    // Content element
    &__content {
        padding-top: $spacing-small;
        padding-bottom: $spacing-small;
    }

    // Site name element
    &__site-name {
        float: left;

        &, h1 {
            @include body-typography;
            font-weight: bold;
        }

        h1 {
            margin-bottom: 0;
        }

        @media all and (max-width: 600px) {
            float: none;
            margin-bottom: $spacing-rule;
        }
    }

    // Navigation element
    &__navigation {
        float: right;

        ul {
            margin-bottom: 0;
        }

        li {
            margin-left: $spacing-rule;
        }

        @media all and (max-width: 600px) {
            float: none;
            font-size: $font-size-small;

            li {
                margin-left: 0;
                margin-right: $spacing-rule;
            }
        }
    }

    // Navigation item element
    &__navigation-item a {
        display: block;
        padding: 0 $spacing-rule;
        border-radius: $spacing-rule;

        &:hover {
            background-color: $color-cream-dark;
        }

        @media all and (max-width: 600px) {
            padding: 0 2px;
        }
    }


    // Navigation item selected modifier
    &__navigation-item--selected a {
        &, &:hover {
            background-color: $color-green-light;
        }
    }

    // Navigation item icons
    &__navigation-item--icon a {
        width: 25px;
        padding: 0;
        text-indent: -10000px;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 22px;

        @media all and (max-width: 600px) {
            background-size: 20px;
        }
    }
    &__navigation-item--twitter a {
        background-image: url('../image/icon-twitter.svg');
    }
    &__navigation-item--github a {
        background-image: url('../image/icon-github.svg');
    }
    &__navigation-item--feed a {
        background-image: url('../image/icon-feed.svg');
    }

}
