
.media {
    background-color: $color-cream-dark;
    border: solid $spacing-rule $color-cream-dark;
    border-radius: $spacing-rule;
}

.media__link {
    display: block;
}

.media__image {
    display: block;
    max-width: 100%;
    min-width: 100%;
}

.media__youtube {
    display: block;
    width: 100%;
    min-height: 400px;

    @media all and (max-width: 640px) {
        min-height: 260px;
    }
}

.media__caption {
    padding: $spacing-small;
    padding-bottom: $spacing-small - $spacing-rule;
    font-size: $font-size-small;
    font-style: italic;
    text-align: center;
}
