
// Media block
.media {
    background-color: $color-cream-dark;
    border: solid $spacing-rule $color-cream-dark;
    border-radius: $spacing-rule;

    // Pinned-left modifier
    &--pinned-left {
        float: left;
        margin-right: $spacing;
        margin-bottom: $spacing-small;
    }

    // Link element
    &__link {
        display: block;
    }

    // Image element
    &__image {
        display: block;
        max-width: 100%;
        min-width: 100%;
    }
    &--pinned-left &__image {
        min-width: auto;
    }

    // YouTube element
    &__youtube {
        display: block;
        width: 100%;
        min-height: 400px;

        @media all and (max-width: 640px) {
            min-height: 260px;
        }
    }
    &--pinned-left &__youtube {
        min-width: auto;
    }

    // Caption element
    &__caption {
        padding: $spacing-small;
        padding-bottom: $spacing-small - $spacing-rule;
        font-size: $font-size-small;
        font-style: italic;
        text-align: center;
    }

}
