
// Table block
.table {
    overflow: auto;
    margin-bottom: $spacing;

    // Table data element
    &__data {
        margin-bottom: 0;

        $border: 1px solid $color-cream-dark;
        border-bottom: $border;
        border-right: $border;

        th {
            background-color: $color-cream-dark;
        }

        td, th {
            padding: ($spacing-small / 2) $spacing-small;
            border-top: $border;
            border-left: $border;
        }

        tfoot {
            td, th {
                border-top: 2px solid $color-cream-dark;
            }
        }
    }

    // Wide modifier
    &--wide &__data {
        min-width: 100%;
    }

    // Striped modifier
    &--striped tbody tr:nth-child(odd) td {
        background-color: $color-cream;
    }
}
