
<header role="banner">

    {% if page.url == '/': %}
        <h1><a href="/">Rowan Manning</a></h1>
    {% else %}
        <a href="/">Rowan Manning</a>
    {% endif %}

    <nav role="navigation">
        <ul>

            <li>
                <a href="/">Blog</a>
            </li>

            <li>
                <a href="/about/">About</a>
            </li>

            <li>
                <a href="https://twitter.com/rowanmanning" rel="me">Twitter</a>
            </li>

            <li>
                <a href="https://github.com/rowanmanning" rel="me">GitHub</a>
            </li>

            <li>
                <a href="/blog.xml">Feed</a>
            </li>

        </ul>
    </nav>

</header>
