
<{% if page.url == '/index.html': %}h1{% else %}div{% endif %} class="h1 logo" role="banner">
    <a href="/" class="blocklink">
        <span class="h6 interrupt title">
            Rowan<br/>Manning,
        </span>
        <span class="secondary small tagline">
            Web Geek
        </span>
    </a>
</{% if page.url == '/index.html': %}h1{% else %}div{% endif %}>

<!-- Site navigation -->
<ul class="list nav site-nav" role="navigation">

    <li class="home">
        <a href="/" class="blocklink">
            Home
        </a>
    </li>

    <li class="about">
        <a href="/about/" title="About Rowan Manning" class="blocklink">
            About
        </a>
    </li>

    <li class="blog">
        <a href="/blog/" title="Rowan Manning's Blog" class="blocklink">
            Blog
        </a>
    </li>

</ul>

<ul class="list nav social-nav">

    {% for item in site.social %}
        {% if item.nav == true %}
            <li>
                <a href="{{ item.url }}" title="{{ item.title }}" class="{{ item.type }} blocklink has-icon" rel="me">
                    <span class="label">{{ item.label }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}

</ul>
