
<a href="/" class="flow logo">
    <span class="title">
        Rowan Manning,
    </span>
    <span class="tagline">
        Web Geek
    </span>
</a>

<!-- Site navigation -->
<ul class="list nav site-nav">

    <li class="home">
        <a href="/">
            Home
        </a>
    </li>

    <li class="about">
        <a href="/about/" title="About Rowan Manning">
            About
        </a>
    </li>

    <li class="blog">
        <a href="/blog/" title="Rowan Manning's Blog">
            Blog
        </a>
    </li>

</ul>

<ul class="list nav social-nav">

    {% for item in site.social %}
        {% if item.nav == true %}
            <li class="{{ item.type }}">
                <a href="{{ item.url }}" title="{{ item.title }}">
                    <span class="col-mobile-hide">{{ item.label }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}

</ul>
