
<ul class="blocklineup space-less">
    <li class="tile">
        <a href="/" class="block-link shh-a">
            <span class="block-link-inner hover-hi">Home</span>
        </a>
    </li>
    <li class="tile">
        <a href="/blog/" class="block-link shh-a">
            <span class="block-link-inner hover-hi">Blog</span>
        </a>
    </li>
    <li class="tile">
        <a href="/about/" class="block-link shh-a">
            <span class="block-link-inner hover-hi">About</span>
        </a>
    </li>
    <li class="tile">
        <a href="https://twitter.com/rowanmanning" class="block-link shh-a" rel="me">
            <span class="block-link-inner hover-hi-twitter">
                <span class="icon icon-twitter"></span>
                <span class="icon-label">Twitter</span>
            </span>
        </a>
    </li>
    <li class="tile">
        <a href="https://github.com/rowanmanning" class="block-link shh-a" rel="me">
            <span class="block-link-inner hover-hi-github">
                <span class="icon icon-github"></span>
                <span class="icon-label">GitHub</span>
            </span>
        </a>
    </li>
    <li class="tile">
        <a href="http://dribbble.com/rowanmanning" class="block-link shh-a" rel="me">
            <span class="block-link-inner hover-hi-dribbble">
                <span class="icon icon-dribbble"></span>
                <span class="icon-label">Dribbble</span>
            </span>
        </a>
    </li>
</ul>
