
<section>

    <h2>Rowan Manning's Blog</h2>

    <ol>
        {% for post in site.posts %}

            <li>
                <article>

                    <header>
                        <h3>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h3>
                    </header>

                    <footer>
                        <p>
                            Posted on <time datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ post.date | date: '%d %B %Y' }}</time>{% if post.tags == empty %}.{% endif %}
                            {% if post.tags != empty %}in {{ post.tags | join: ', ' }}.{% endif %}
                        </p>
                        {% if post.crossPost.siteName %}
                            <p>
                                Originally posted on <a href="{{ post.crossPost.siteUrl }}">{{ post.crossPost.siteName }}</a>.
                            </p>
                        {% endif %}
                    </footer>

                    <p>
                        {{ post.description }}
                        <a href="{{ post.url }}">{% if post.cta %}{{ post.cta }}{% else %}Read more{% endif %}</a>.
                    </p>

                </article>
            </li>

        {% endfor %}
    </ol>

</section>
