// object/blocklink

// Block links (mainly used in lists)
.blocklink {
    @include rem("line-height", $t-height);
    @extend .stealth-a;
    @include inline-block;
    border-left: 5px solid $c-cream-dk;
    padding: 0 ($gutter / 2);
    @include rem("padding-top", $t-height / 2);
    @include rem("padding-bottom", $t-height / 2);

    &:hover {
        @extend %noisy;
        border-left: 5px solid $c-green-dk;
        background-color: $c-green;
    }
}

// Icon classes
.has-icon {
    &:before {
        content: "";
        @include inline-block;
        margin-right: 5px;
        font-family: icon;
        speak: none;
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }

    // Site
    &.book:before {
        content: "b";
    }
    &.date:before {
        content: "c";
    }
    &.email:before {
        content: "e";
    }
    &.link:before {
        content: "l";
    }
    &.tags:before {
        content: "a";
    }

    // Social
    &.dribbble {
        &:before {
            content: "d";
            color: $c-dribbble;
        }
        &:hover {
            border-left: 5px solid $c-dribbble;
            background-color: $c-dribbble-lt;
        }
    }
    &.feed {
        &:before {
            content: "f";
            color: $c-feed;
        }
        &:hover {
            border-left: 5px solid $c-feed;
            background-color: $c-feed-lt;
        }
    }
    &.github {
        &:before {
            content: "g";
            color: $c-github;
        }
        &:hover {
            border-left: 5px solid $c-github;
            background-color: $c-github-lt;
        }
    }
    &.twitter {
        &:before {
            content: "t";
            color: $c-twitter;
        }
        &:hover {
            border-left: 5px solid $c-twitter;
            background-color: $c-twitter-lt;
        }
    }
}
