// object/logo

// Site logo styling
.logo {
    @include rem("line-height", $t-lineheight);
    border-left: 5px solid $c-green-dk;

    &:hover {
        background-color: transparent;
        background-image: none !important; // Ew... Sorry
    }

    .title, .tagline {
        display: block;
    }
}
