// object/move

// Move something left
.move-left {
    float: left;
    padding-right: $gutter;
    @include rem('padding-bottom', $t-lineheight);
}

// Move something right
.move-right {
    float: right;
    padding-left: $gutter;
    @include rem('padding-bottom', $t-lineheight);
}
