// Grid Utility
// =========================================================

@grid-column-count: 12;
@grid-gutter-width: 20px;

@grid-min-width: 320px;
@grid-max-width: 1024px;

@grid-break-mobile: 600px;

// =========================================================

// Grid
.grid {
    min-width: @grid-min-width;
    max-width: @grid-max-width;
    *width: @grid-max-width;
}

// Grid Row
.row {
    .clearfix();
}

// Grid Column
.col (@number) {
    @single-column-width: (100% / @grid-column-count);
    @single-column-width-ie: floor(@grid-max-width / @grid-column-count);

    width: (@single-column-width * @number);
    *width: (@single-column-width-ie * @number) - (@grid-gutter-width * 2);
    float: left;
    .box-sizing(border-box);
    padding: 0 @grid-gutter-width;
}

// Large Desktop
.col-1  { .col(1 ); }
.col-2  { .col(2 ); }
.col-3  { .col(3 ); }
.col-4  { .col(4 ); }
.col-5  { .col(5 ); }
.col-6  { .col(6 ); }
.col-7  { .col(7 ); }
.col-8  { .col(8 ); }
.col-9  { .col(9 ); }
.col-10 { .col(10); }
.col-11 { .col(11); }
.col-12 { .col(12); }

// Mobile
@media (max-width: @grid-break-mobile) {
    .col-1, .col-2, .col-3, .col-4,
    .col-5, .col-6, .col-7, .col-8,
    .col-9, .col-10, .col-11, .col-12 {
        .col(12);
    }
}