
// Root element styles
html, body {
    border-top: 15px solid $c-green;
}
body {
    border-top-color: $c-green-lt;
}
@media all and (max-width: $frag-break-tablet) {
    html {
        font-size: 60%;
    }
}
@media all and (max-width: $frag-break-mobile) {
    html, body {
        border-top-width: 10px;
    }
    html {
        font-size: 56%;
    }
}
