
// Font basics

body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.563;
    color: $color-gray-dark;
}


// Line spacing

blockquote, caption, dl, figure, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, hr, ol, p, pre, table, ul {
    margin-top: 0;
    margin-bottom: $spacing;
}

caption {
    margin-bottom: $spacing-small;
}

ol, ul {
    ol, ul {
        margin-bottom: 0;
    }
}


// Headings

caption, dt, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, th {
    font-family: $font-family-heading;
    font-weight: normal;
}

h6, .h6 {
    font-size: $font-size;
}

h5, .h5 {
    font-size: $font-size + 2px;
}

h4, .h4 {
    font-size: $font-size + 4px;
}

h3, .h3 {
    font-size: $font-size + 6px;
}

h2, .h2 {
    font-size: $font-size + 8px;
}

h1, .h1 {
    font-size: $font-size + 10px;
}


// Lists

dt {
    font-weight: bold;
}

dd {
    padding-left: $spacing;
    margin-left: 0;
    margin-bottom: $spacing-small;
}


// Tables

table {
    max-width: 100%;
}

th {
    text-align: left;
    font-weight: bold;
}

caption {
    font-weight: bold;
    text-align: left;
}


// Links

a {
    color: $color-green-dark;

    &:visited {
        color: $color-purple;
    }
}


// Text-level semantics

abbr {
    cursor: help;
}

cite {
    font-style: italic;
}

figcaption, small, sub, sup {
    font-size: $font-size-small;
}

mark {
    background-color: $color-yellow;
}

q {
    font-style: italic;

    &:before {
        content: "“";
    }

    &:after {
        content: "”";
    }
}


// Rules

hr {
    height: 0;
    border: none;
    border-top: $spacing-rule solid $color-cream;
    color: $color-cream;
}


// Figures

figure {
    margin-left: 0;
    margin-right: 0;
}


// Selection

::selection {
    background: $color-green-light;
}
