
{{/* Get author information */}}
{{/* ---------------------- */}}

{{/* Get site author information */}}
{{ $author := partial "site/data/author" . }}

{{/* Get author information from page, defaulting to site */}}
{{ if .Params.author.name }}
	{{
		$author = (dict
			"name" (.Params.author.name | default nil)
			"url" (.Params.author.url | default nil)
			"email" (.Params.author.email | default nil)
			"image" (.Params.author.image | default nil)
			"twitter" (.Params.author.twitter | default nil)
			"github" (.Params.author.github | default nil)
			"isSiteAuthor" false
		)
	}}
{{ end }}

{{ return $author }}
