
{{/* Get a main image and thumbnail */}}
{{/* ------------------------------ */}}

{{/* Default to the first image */}}
{{ $image := index (.Resources.ByType "image") 0 }}

{{/* If we have a main image, use that */}}
{{ if .Params.mainImage }}
	{{ $matchedMainImage := index (.Resources.Match .Params.mainImage) 0 }}
	{{ if $matchedMainImage }}
		{{ $image = $matchedMainImage }}
	{{ end }}

{{/* If the main image parameter is explicitly false, don't use an image */}}
{{ else if eq .Params.mainImage false }}
	{{ $image = false }}
{{ end }}

{{/* Default main image to empty properties */}}
{{
	$mainImage := (dict
		"full" nil
		"thumb" nil
		"thumb64" nil
		"thumb128" nil
		"thumb256" nil
	)
}}

{{ if $image }}
	{{
		$mainImage = (dict
			"full" $image
			"thumb" ($image.Fill "160x160 Center")
			"thumb64" ($image.Fill "64x64 Center")
			"thumb128" ($image.Fill "128x128 Center")
			"thumb256" ($image.Fill "256x256 Center")
		)
	}}
{{ end }}

{{ return $mainImage }}
