
<div class="double-flow">

    <h3 class="h1 half-flow">About Me</h3>

    <a href="/about/" title="Rowan Manning" class="move-left">
        <img src="/media/images/Rowan.thumb.png" alt="Rowan Manning" class="about-avatar"/>
    </a>

    <p class="half-flow">
        Hi! I'm Rowan Manning, a 25 year old Web Geek and Front-End/JavaScript Developer from the UK. I love to solve problems with
        code, and I'm currently doing exactly that for
        <a href="http://www.nature.com/">Nature Publishing Group</a> in London.
    </p>

    <a href="/about/" class="blocklink">Read more about me</a>

</div>
