
<div>

    <h3>About Me</h3>

    <a href="/media/images/Rowan.png" title="This is me" class="flow">
        <img src="/media/images/Rowan.thumb.png" alt="Rowan Manning"/>
    </a>

    <p>
        Hi! I'm Rowan Manning, a 25 year old Web Geek and Front-End/JavaScript Developer from the UK. I love to solve problems with
        code, and I'm currently doing exactly that for
        <a href="http://www.nature.com/">Nature Publishing Group</a> in London.
        <a href="/about/">Read more about me</a>.
    </p>

</div>
