
{{- /* Site alternate links metadata */ -}}
{{- $title := partial "content/data/title" . -}}
{{-
	$allowedAlternatives := (slice
		"Atom"
		"RSS"
	)
-}}
{{-
	$titles := (dict
		"Atom" (printf "Atom feed for %v" $title)
		"RSS" (printf "RSS feed for %v" $title)
	)
-}}
{{- range (where .AlternativeOutputFormats "Name" "in" $allowedAlternatives) }}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}" title="{{ index $titles .Name | default .Name }}" />
{{- end }}
