
{{- /* Open Graph metadata */ -}}
{{- $structuredDataConfig := partial "config/structured-data" . -}}
{{- if and $structuredDataConfig.enabled (eq .Kind "page") -}}

	{{- /* Get information about the page */ -}}
	{{- $author := partial "content/data/author" . -}}
	{{- $description := partial "content/data/description" . -}}
	{{- $mainImage := partial "content/data/main-image" . -}}
	{{- $title := partial "content/data/title" . -}}

	{{- /* Open Graph */ -}}
	<meta property="og:type" content="{{ if .Section }}article{{ else }}website{{ end }}" />
	<meta property="og:site_name" content="{{ .Site.Title | default .Site.Home.Title }}" />
	<meta property="og:title" content="{{ $title }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	{{ if $mainImage.full -}}
	<meta property="og:image" content="{{ $mainImage.full.Permalink }}" />
	<meta property="og:image:alt" content="{{ $mainImage.full.Title | default $title }}" />
	{{- end }}
	{{ if $description -}}<meta property="og:description" content="{{ $description }}" />{{- end }}

	{{- /* Open Graph article */ -}}
	{{ if .Section }}
	{{ if $author.url -}}
	<meta property="article:author" content="{{ $author.url }}" />
	{{- end }}
	<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />
	{{ if gt .Lastmod .Date -}}
	<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }}" />
	{{ end -}}
	{{ if .Params.tags -}}
	{{- range .Params.tags -}}
	<meta property="article:tag" content="{{ . }}" />
	{{ end }}{{ end -}}
	{{ end }}

{{- end -}}
