
{{/* Get feed data */}}
{{/* ------------- */}}

{{/* Get feed config */}}
{{- $feedConfig := partial "config/feeds" . -}}

{{/* Set the current context, either the current page or the home page */}}
{{ $context := . }}
{{ if .IsHome }}
	{{ $context = .Site }}
{{ end }}

{{/* Get all of the pages in the feed */}}
{{ $pages := slice }}
{{ if or .IsHome .IsSection }}
	{{ $pages = $context.RegularPages }}
{{ else }}
	{{ $pages = $context.Pages }}
{{ end }}

{{/* Filter the home page feed to only allow content from specified sections */}}
{{ if and .IsHome (gt (len $feedConfig.homeSections) 0) }}
	{{ $pages = where $pages "Section" "in" $feedConfig.homeSections }}
{{ end }}

{{/* Filter out private pages */}}
{{ $pages = where $pages "Params.private" "!=" true }}

{{/* Get the RSS configuration and limit pages by this number */}}
{{ if ge $feedConfig.limit 1 }}
	{{ $pages = $pages | first $feedConfig.limit }}
{{ end }}

{{/* Get the feed title from the page and site title */}}
{{ $title := partial "content/data/title" . }}
{{ if and .Site.Title .IsHome }}
	{{ $title = .Site.Title }}
{{ end }}

{{/* Get the feed description */}}
{{ $description := partial "content/data/description" . }}
{{ if not $description }}
	{{ $description = printf "Recent content in %s" $title }}
{{ end }}

{{/* Append the site title to the title after generating a description */}}
{{ if and .Site.Title (not .IsHome) }}
	{{ $title = printf "%s | %s" $title .Site.Title }}
{{ end }}

{{/* Get the last modified time */}}
{{ $updated := now }}
{{ if len $pages }}
	{{ $updated = (index $pages 0).Lastmod }}
{{ end }}

{{/* Get the content author */}}
{{ $author := partial "content/data/author" . }}

{{/* Get the copyright notice */}}
{{ $copyright := partial "site/data/copyright" . }}

{{/* Define the entries */}}
{{ $entries := slice }}
{{ range $pages }}
	{{ $entries = $entries | append (partial "feed/data/entry" .) }}
{{ end }}

{{/* Define the feed */}}
{{
	$feed := (dict
		"id" .Permalink
		"title" $title
		"link" .Permalink
		"description" $description
		"language" (.Site.LanguageCode | default "en")
		"copyright" $copyright
		"updated" $updated
		"author" $author
		"entries" $entries
	)
}}

{{ return $feed }}
