
{{- /* Render the webmentions list */ -}}
{{- /* --------------------------- */ -}}

{{ if len .all }}
	<ol class="social-feed">
		{{ if len .likes }}
			<li id="webmention-likes" class="social-feed__item social-feed__item--like">
				<div class="social-feed__meta">
					<strong>{{ len .likes }} {{ cond (eq (len .likes) 1) "person" "people" }} liked this:</strong>
					{{ range $key, $like := .likes -}}
						{{- if ne $key 0 }}, {{ end }}
						<a href="{{ $like.author.url }}">{{ $like.author.name }}</a>
					{{- end }}
				</div>
			</li>
		{{ end }}
		{{ if len .reposts }}
			<li id="webmention-reposts" class="social-feed__item social-feed__item--repost">
				<div class="social-feed__meta">
					<strong>{{ len .reposts }} {{ cond (eq (len .reposts) 1) "person" "people" }} reposted this:</strong>
					{{ range $key, $repost := .reposts -}}
						{{- if ne $key 0 }}, {{ end }}
						<a href="{{ $repost.author.url }}">{{ $repost.author.name }}</a>
					{{- end }}
				</div>
			</li>
		{{ end }}
		{{ if len .bookmarks }}
			<li id="webmention-bookmarks" class="social-feed__item social-feed__item--bookmark">
				<div class="social-feed__meta">
					<strong>{{ len .bookmarks }} {{ cond (eq (len .bookmarks) 1) "person" "people" }} bookmarked this:</strong>
					{{ range $key, $bookmark := .bookmarks -}}
						{{- if ne $key 0 }}, {{ end }}
						<a href="{{ $bookmark.author.url }}">{{ $bookmark.author.name }}</a>
					{{- end }}
				</div>
			</li>
		{{ end }}
		{{ range .responses }}
			{{ if eq .type "response" }}
				<li id="webmention-{{ .md5 }}" property="comment" vocab="http://schema.org/" typeof="Comment" class="social-feed__item social-feed__item--response">
					<div class="social-feed__meta">
						<span property="author" vocab="http://schema.org/" typeof="Person">
							<a property="url" href="{{ .author.url }}" class="social-feed__author"><span property="name">{{ .author.name }}</span></a>
						</span>
						<a property="url" href="{{ .url }}">responded <time property="datePublished" datetime="{{ dateFormat "2006-01-02T15:04:05Z0700" .date }}" class="social-feed__date">{{ dateFormat "02 January 2006" .date }}</time></a>:
					</div>
					<div property="text" class="social-feed__content content-body">
						{{ .content | safeHTML }}
						{{ if .isTruncated }}
							<a href="{{ .url }}">Read the full response</a>
						{{ end }}
					</div>
				</li>
			{{ else }}
				<li id="webmention-{{ .md5 }}" class="social-feed__item social-feed__item--{{ .type }}">
					<div class="social-feed__meta">
						<a href="{{ .author.url }}" class="social-feed__author">{{ .author.name }}</a>
						{{ if eq .type "repost" }}
							<a href="{{ .url }}">reposted this
						{{ else }}
							<a href="{{ .url }}">liked this
						{{ end }}
						<time datetime="{{ dateFormat "2006-01-02T15:04:05Z0700" .date }}" class="social-feed__date">{{ dateFormat "02 January 2006" .date }}</time></a>
					</div>
				</li>
			{{ end }}
		{{ end }}
	</ol>
{{ end }}
