<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body>
    <div class="wrapper">

        <div class="grid content">

            <!-- Header -->
            <div class="col ca-12 cb-12 cc-2">
                {% include nav.html %}
            </div>

            <!-- Main content -->
            <div class="col ca-12 cb-8 cc-7">
                {{ content }}
            </div>

            <!-- Aside content -->
            <div class="col ca-12 cb-4 cc-3">
                {% include aside.html %}
            </div>

        </div>

    </div>
</body>
</html>