<!DOCTYPE html>
<html lang="en-GB">
<head>

    <!-- Page meta-information -->
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    {% if page.sitemap == false %}<meta name="robots" content="noindex"/>{% endif %}

    <!-- Site links -->
    <link rel="alternate" type="application/atom+xml" href="/blog.xml" title="Rowan Manning's Blog"/>
    <link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap"/>
    <link rel="canonical" href="http://rowanmanning.com{{ page.url | replace: 'index.html', '' }}"/>
    {% if page.url != '/': %}<link rel="author" href="http://rowanmanning.com/"/>{% endif %}

    <!-- Styles -->
    <meta name="viewport" content="width=device-width"/>
    <!--[if gt IE 8]><!--><link rel="stylesheet" href="/asset/style/site.css"/><!--<![endif]-->
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="/favicon.ico"/>

    <!-- Tracking -->
    <meta name="bitly-verification" content="9fa4195591f6"/>
    <meta property="twitter:account_id" content="1512912557"/>
    <script>
        if (/^(www\.)?rowanmanning.com$/.test(document.location.host)) {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5860182-1']);
            _gaq.push(['_setDomainName', 'rowanmanning.com']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        }
    </script>

</head>
<body>

    <!--[if lte IE 8]>{% include browser-upgrade.html %}<![endif]-->

    <div class="page">

        {% include header.html %}

        <main role="main" class="page__content">
            {{ content }}
        </main>

        {% include footer.html %}

    </div>

</body>
</html>
