---
layout: page
---

<article vocab="http://schema.org/" typeof="BlogPosting" resource="http://rowanmanning.com{{ page.url }}" class="blog-post">

    <meta property="name" content="{{ page.title }}"/>
    <meta property="url" content="http://rowanmanning.com{{ page.url }}"/>
    <meta property="mainEntityOfPage" content="http://rowanmanning.com{{ page.url }}"/>
    <meta property="description" content="{{ page.description }}">

    <header>

        <h1 property="headline">{{ page.title }}</h1>

        <p class="blog-post__meta subject-border subject-border--{{ page.subject }}">
            Posted on <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ' }}" property="datePublished">{{ page.date | date: '%d %B %Y' }}</time>
            by <span property="author" vocab="http://schema.org/" typeof="Person"><span property="name">Rowan Manning</span></span>.
            {% if page.lastmod %}
                (<time datetime="{{ page.lastmod | date: '%Y-%m-%dT%H:%M:%SZ' }}" title="{{ page.lastmod | date: '%d %B %Y' }}"  property="dateModified">updated</time>)
            {% endif %}

            {% if page.tags != empty %}
                <br/>Tagged with
                <span property="keywords">
                    {% for tag in page.tags %}
                        <span class="subject-tag subject-tag--{{ tag | slugify }}">{{ tag }}</span>{% unless forloop.last == true %}, {% else %}.{% endunless %}
                    {% endfor %}
                </span>
            {% endif %}
        </p>

    </header>

    {% if page.crossPost.siteName %}
        <p class="blog-post__cross-post-indicator">
            Originally posted on <a href="{{ page.crossPost.siteUrl }}">{{ page.crossPost.siteName }}</a>.
            <a href="{{ page.crossPost.url }}">Read the original post</a>.
        </p>
    {% endif %}

    <div property="articleBody" class="blog-post__content">
        {{ content }}
    </div>


    <footer>

        <hr/>

        <h3 class="h5 space--small">Discussion</h3>

        <p class="space--small">
            If you'd like to discuss this post please get in touch!
        </p>

        <ul>

            <li>
                <a href="https://twitter.com/share?url={{ 'http://' | cgi_escape }}rowanmanning.com{{ page.url | cgi_escape }}&amp;via=rowanmanning&amp;text={{ page.title | cgi_escape }}" target="_blank">
                    Tweet about this post
                </a>
            </li>

            <li>
                <a href="mailto:info@rowanmanning.com?subject={{ page.title | uri_escape }}">
                    Email me
                </a>
            </li>

        </ul>

    </footer>

</article>
