---
layout: page
sidebar: post
---

<div class="prose">

    <h1>{{ page.title }}</h1>

    <div class="space smallprint">
        <div>
            <span class="icon icon-date"></span>
            Posted <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ page.date | date: '%d %B %Y' }}</time>
            by Rowan Manning
            {% if page.lastmod %}
                (<i class="there-is-more"><time datetime="{{ page.lastmod | date: '%Y-%m-%dT%H:%M:%SZ' }}" title="{{ page.lastmod | date: '%d %B %Y' }}">updated</time></i>)
            {% endif %}
        </div>
        {% if page.tags != empty %}
            <div>
                <span class="icon icon-tags"></span>
                Tagged with {{ page.tags | join: ', ' }}
            </div>
        {% endif %}
    </div>

    {{ content }}

    <h3 class="heading-bar space-above-more">Discussion</h3>

    <p>
        If you'd like to discuss this post, or any of the topics mentioned, please get in touch!
    </p>

    <ul class="blocklineup space-more">

        <li class="tile">
            <a class="block-link shh-a" href="https://twitter.com/share?url={{ 'http://' | cgi_escape }}{{ site.host | cgi_escape }}{{ page.url | cgi_escape }}&amp;via=rowanmanning&amp;text={{ page.title | cgi_escape }}" target="_blank">
                <span class="block-link-inner hover-hi-twitter">
                    <span class="icon icon-twitter"></span>
                    Tweet about this post
                </span>
            </a>
        </li>

        <li class="tile">
            <a class="block-link shh-a" href="mailto:{{ site.email }}?subject={{ page.title | uri_escape }}">
                <span class="block-link-inner hover-hi">
                    <span class="icon icon-email"></span>
                    Email me about this
                </span>
            </a>
        </li>

    </ul>

</div>
