
{{- /* Gather together all the content information */ -}}
{{- /* ------------------------------------------- */ -}}

{{- $mainImage := partial "content/data/main-image" . -}}


{{- /* Render the content preview */ -}}
{{- /* -------------------------- */ -}}

<article class="h-entry content-summary content-highlight content-highlight--{{ .Params.highlight }}" data-test="content-summary">
	{{- partial "content/structured-data" . -}}

	<header>
		<h2 class="content-summary__headline" data-test="content-summary-title">
			<a href="{{ .RelPermalink }}" class="u-url u-uid p-name" data-test="content-summary-link">
				{{- partial "content/data/title" . -}}
			</a>
		</h2>
	</header>

	<div class="content-summary__body">

		{{ if $mainImage.full }}
			<a href="{{ .RelPermalink }}" class="content-summary__thumb">
				<img
					srcset="
						{{ $mainImage.thumb64.RelPermalink }},
						{{ $mainImage.thumb128.RelPermalink }} 1.5x,
						{{ $mainImage.thumb256.RelPermalink }} 2x
					"
					src="{{ $mainImage.thumb64.RelPermalink }}"
					alt="{{ $mainImage.full.Title }}"
					width="{{ $mainImage.thumb128.Width }}"
					height="{{ $mainImage.thumb128.Height }}"
					loading="lazy"
				/>
			</a>
		{{ end }}

		<p class="content-summary__preview">
			<span class="p-summary">{{ .Description }}</span>
			<a href="{{ .RelPermalink }}">{{ if (.Params.cta) }}{{ .Params.cta }}{{ else }}Read {{.Title}}{{ end }}</a>.
		</p>

	</div>

	<footer>
		<p class="content-summary__meta">
			Posted on <time datetime="{{ .Date }}" class="dt-published">{{ .Date.Format "02 January 2006" }}</time>
			{{ if .Params.tags }}
				in

				{{ $tags := .Params.tags -}}
				{{- $tagCount := len $tags -}}

				<span>
					{{- range $key, $tag := $tags -}}
						{{- if ne $key 0 }}<span class="hidden">, </span>{{ end -}}
						<a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}/" class="p-category tag tag--{{ replace ($tag | urlize) "." "-" }} {{ if (and (gt $key 2) (gt $tagCount 4)) }}hidden-fully{{ end }}">{{ $tag }}</a>
					{{- end -}}
				</span>

				{{- if gt $tagCount 4 -}}
					<a href="{{ .RelPermalink }}" class="tag" title="{{ delimit (after 3 $tags) ", " }}">... {{ sub $tagCount 3 }} more</a>
				{{- end -}}
			{{- end -}}

			{{- if (and .Params.crossPost .Params.crossPost.siteName) -}}
				. <span class="content-summary__cross-post">Originally posted on <a href="{{ .Params.crossPost.siteUrl }}">{{ .Params.crossPost.siteName }}</a></span>
			{{ end }}
		</p>
	</footer>

</article>
