
{{- /* Get JSON-LD data for the page */ -}}
{{- /* ----------------------------- */ -}}

{{- /* Get structured data configuration */ -}}
{{- $structuredDataConfig := partial "config/structured-data" . -}}
{{- $currentPageHasData := and .IsPage .Section -}}

{{- /* Render the JSON-LD script */ -}}
{{- if and $structuredDataConfig.enabled $currentPageHasData -}}
	{{- $author := partial "content/data/author" . -}}
	{{- $description := partial "content/data/description" . -}}
	{{- $mainImage := partial "content/data/main-image" . -}}
	{{- $title := partial "content/data/title" . -}}

	{{- $image := "" -}}
	{{- $thumb := "" -}}
	
	{{- if $mainImage.full -}}
		{{- $image = $mainImage.full.Permalink -}}
		{{- $thumb = $mainImage.thumb.Permalink -}}
	{{- end -}}

	{{-
		$structuredData := (dict
			"@context" "https://schema.org/"
			"@type" "BlogPosting"
			"mainEntityOfPage" (dict
				"@type" "WebPage"
				"@id" .Permalink
			)
			"url" .Permalink
			"headline" $title
			"description" $description
			"image" $image
			"thumbnailUrl" $thumb
			"datePublished" (.Date.Format "2006-01-02T15:04:05Z0700")
			"dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z0700")
			"keywords" .Params.tags
			"author" (dict
				"@type" "Person"
				"name" $author.name
				"url" $author.url
				"image" $author.image
			)
		)
	-}}
<script type="application/ld+json">{{ $structuredData | jsonify (dict "indent" "\t") | safeJS }}</script>
{{- end -}}
