
{% if page.reading and page.reading != empty %}

    <!-- Further reading -->

    <h2 class="heading-bar">Further Reading</h2>

    <div class="space-more">

        <ul class="blocklineup space-more">
            {% for link in page.reading %}
                <li class="tile">
                    <a href="{{ link.url }}" class="block-link shh-a">
                        <span class="block-link-inner hover-hi">
                            <span class="icon icon-{{ link.type }}"></span>
                            {{ link.label }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endif %}
