
<!-- Subscription links -->

<h2 class="heading-bar">Subscribe</h2>

<ul class="blocklineup space-more">
    <li class="tile">
        <a href="/blog.xml" class="block-link shh-a">
            <span class="block-link-inner hover-hi-feed">
                <span class="icon icon-feed"></span>
                Atom Feed
            </span>
        </a>
    </li>
    <li class="tile">
        <a href="https://twitter.com/rowanmanning" class="block-link shh-a">
            <span class="block-link-inner hover-hi-twitter">
                <span class="icon icon-twitter"></span>
                Twitter
            </span>
        </a>
    </li>
</ul>
